body {
  background-color: #e3e3e3;
}
h1 {
  color: #1c80ab;
}
h3 {
  color: #1c80ab;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
